* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --overlay-color: rgba(24, 39, 51, 0.99);
  --menu-speed: 0.75s;
}

/* ----Globals---- */
body {
  font-family: 'Open Sans';
  line-height: 1.4em;
  color: #fff;
}

/* ----Utilities---- */
.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

/* ----Showcase---- */
#showcase {
  background: linear-gradient(rgba(6, 29, 51, 0.5), rgba(7, 32, 55, 0.5)),
    url('/img/showcase.jpg') center center/cover no-repeat;
  height: 100vh;
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.showcase-container h1 {
  font-size: 4rem;
  line-height: 1.5em;
}

.showcase-container p {
  font-size: 1.1rem;
  line-height: 1.5em;
  padding-bottom: 1em;
}

.showcase-container .btn {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 1em 1.2em;
  margin: 1em 0;
  background-color: rgb(10, 56, 101);
  border-radius: 2em;
  transition: all 0.4s ease-in-out;
}

.showcase-container .btn:hover {
  background-color: rgb(13, 72, 132);
}
